<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hexacar | Contactos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/hexacar.min.css">
        <!-- <script src="../js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body class="page page--contacts">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="off-canvas-outer">
            <div class="off-canvas-inner">
                <header class="page-head">
                    <div class="wrapper">
                        <nav class="site-nav">
                            <div class="site-nav__home">
                                <a href="/"><img class="site-nav__logo" src="../img/content/logo-hexacar.png" alt="Hexacar logo"></a>
                            </div><!-- end .site-nav__home -->
                            <ul class="site-nav__list">
                                <li class="site-nav__item"><a class="site-nav__link" href="/">Início</a></li>
                                <li class="site-nav__item"><a class="site-nav__link" href="/">Automóveis</a></li>
                                <li class="site-nav__item"><a class="site-nav__link" href="/">Quem somos</a></li>
                                <li class="site-nav__item"><a class="site-nav__link" href="/">Contactos</a></li>
                            </ul><!-- end .site-nav__list -->
                            <i class="site-nav__toggle fa fa-bars"><span class="hide">Menu</span></i>
                        </nav>
                    </div><!-- end .wrapper -->
                </header><!-- end .page-head -->
                <div class="wrapper">
                    <ol class="breadcrumb">
                        <li><a href="/">Início</a>
                        <li class="breadcrumb__current"><a href=".">Contactos</a>
                    </ol>
                    <div class="layout">
                        <div class="layout__item lap-and-up-two-thirds" data-ui-component="Main Content">
                            <section class="band">
                                <h1 class="heading">Onde <span>estamos</span></h1>
                                <div class="layout">
                                    <div class="layout__item">
                                        <div class="media__img"><i class="fa fa-map-marker"></i></div>
                                        <div class="media__body">
                                            <address>
                                                Rua Combatentes do Ultramar<br>
                                                Loja 78, 2670-054 Loures, Portugal<br>
                                            </address>
                                            <!-- google map goes here -->
                                        </div>
                                    </div><!-- end .layout__item -->
                                    <div class="layout__item">
                                       <div class="media__img"><i class="fa fa-phone"></i></div>
                                        <div class="media__body">
                                            <ul class="list-bare">
                                                <li><a href="tel:+351969392494">(+351) 969 392 494</a></li>
                                                <li><a href="tel:+351939407162">(+351) 939 407 162</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end .layout__item -->
                                    <div class="layout__item">
                                        <div class="media__img"><i class="fa fa-envelope"></i></div>
                                        <div class="media__body">
                                            <ul class="list-bare">
                                                <li><a href="mailto:geral@hexacar.pt">geral@hexacar.pt</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end .layout__item -->
                                    <div class="layout__item">
                                        <div class="media__img"><i class="fa fa-external-link"></i></div>
                                        <div class="media__body">
                                            <ul class="list-bare">
                                                <li><a href="#">Stand Virtual</a></li>
                                                <li><a href="#">Auto Sapo</a></li>
                                                <li><a href="#">Auto Compra e Venda</a></li>
                                                <li><a href="#">OLX</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end .layout__item -->
                                </div>
                            </section>
                        </div
                        ><div class="layout__item lap-and-up-one-third" data-ui-component="Sub Content">
                            <section class="band">
                                <h1 class="heading">Serviços <span>de qualidade</span></h1>
                                <ul class="list-ui services-list">
                                    <li class="services-list__item">Revisões e manutenções<i class="fa fa-angle-right"></i></li>
                                    <li class="services-list__item">Reparação de chapa e pintura<i class="fa fa-angle-right"></i></li>
                                    <li class="services-list__item">Lavagem e aspiração<i class="fa fa-angle-right"></i></li>
                                    <li class="services-list__item">Seguros e financiamentos<i class="fa fa-angle-right"></i></li>
                                </ul>
                            </section>
                        </div>
                    </div><!-- end .layout -->
                    <footer class="page-foot">
                        <ul class="list-inline socials-list">
                            <li class="socials-list__item"><a href="#"><i class="fa fa-facebook"></i><span class="hide">Siga-nos no facebook</span></a>
                            <li class="socials-list__item"><a href="#"><i class="fa fa-twitter"></i><span class="hide">Siga-nos no twitter</span></a>
                            <li class="socials-list__item"><a href="#"><i class="fa fa-instagram"></i><span class="hide">Siga-nos no instagram</span></a>
                            <li class="socials-list__item"><a href="#"><i class="fa fa-linkedin"></i><span class="hide">Siga-nos no linkedin</span></a>
                        </ul>
                        <small class="page-foot__copy">&copy; 2015 Hexacar<br>Todos os direitos reservados</small> 
                    </footer>
                </div><!-- end .wrapper -->
            </div> <!-- end .off-canvas-inner -->
        </div> <!-- end .off-canvas-outer -->



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
