/*------------------------------------*\
    #SERVICES-LIST
\*------------------------------------*/

.services-list {
}

.services-list__item {
	i {
		float: right;
		line-height: inherit;
		color: $color-brand;
	}
}
