/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/

.breadcrumb {
	@extend %list-inline;
}

	.breadcrumb > li + li:before {
		font-family: "FontAwesome";
	    content:"\f105";
	    margin: 0 10px;
	    opacity: 0.5;
	}